<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testowa strona</title>
</head>
<body>
    {% if object_list %}
        <div>category</div>
    {% else %}
        <div>No category</div>
    {% endif %}
</body>
</html>